<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
 
 
 <parameter name="gecerli_mail" value="omer.sim95@gmail.com"></parameter>
<parameter name="gecerli_sifre" value="Omer1995"></parameter>
<parameter name="aranacak_esya" value="bilgisayar"></parameter>
  <test thread-count="1" name="Giris">
    <classes>
   <class name="Test.GittiGidiyor.BasariliGiris"/> 
      <class name="Test.GittiGidiyor.SepeteEkleme"/>
      <class name="Test.GittiGidiyor.UrunAdedi"/>
      <class name="Test.GittiGidiyor.UrunSilme"/>
  	  
    </classes>
    </test>
 
</suite> <!-- Suite -->
